<footer class="public-footer">
	<div class="social">
		<a href="https://vigo360.es/atom.xml">
			<img src="/static/atom-icon-dark.svg" alt="Logo de RSS" />
		</a>
		<a href="https://www.facebook.com/Vigo360-114211757834000">
			<img src="/static/zb-icon.svg" alt="Logo de Facebook" />
		</a>
		<a href="https://twitter.com/vigo360">
			<img src="/static/tt-icon.svg" alt="Logo de Twitter" />
		</a>
		<a href="https://instagram.com/vig0360">
			<img src="/static/is-icon.svg" alt="Logo de Instagram" />
		</a>
	</div>
	<div>
		<a href="https://vigo360.es/">Vigo360</a>
		<a href="https://vigo360.es/contacto/">Contacto</a>
		<a href="https://vigo360.es/legal">Privacidad y licencias</a>
		<a href="https://framagit.org/vigo360/fuentes/">Código fuente</a>
	</div>
</footer>