<header>
	<a href="/" id="header-brand">
		<img width="48" height="48" alt="Logo de Vigo360" src="/static/logo.webp">
		<h1>Las fuentes de Vigo</h1>
	</a>
	<form action="https://vigo360.es/buscar">
		<input type="search" name="termino" id="busqueda-termino" placeholder="Buscar en Vigo360">
	</form>
	<nav class="desktop">
		<a class="nav-link" href="https://vigo360.es/">Vigo360</a>
	</nav>
	<details class="mobile" id="nav">
		<summary>Navegación</summary>
		<a class="nav-link" href="https://vigo360.es/">Vigo360</a>
	</details>
</header>