<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio | Fuentes Vigo360</title>

	<link rel="stylesheet" href="/static/leaflet/leaflet.css">
	<script src="/static/leaflet/leaflet.js"></script>

	<link rel="icon" href="/static/logo.png" />
	<link rel="stylesheet" href="/static/style.css">

	<script type="application/ld+json">
		{
			"@context":"https://schema.org/",
			"@type":"Dataset",
			"name":"Fuentes de Vigo",
			"description":"Contiene las 347 fuentes de la ciudad de Vigo, e información relativa a estas.",
			"url":"https://fuentes.vigo360.es/",
			"identifier": "https://vigo360.es/trabajos/fuentes-vigo",
			"keywords":[
			   "Fuentes",
			   "Vigo (ciudad)",
			   "Concello de Vigo"
			],
			"license" : "https://creativecommons.org/licenses/by-sa/4.0/",
			"isAccessibleForFree" : true,
			"creator": [{
			   "@type":"Person",
			   "givenName": "Daniel",
			   "familyName": "Antomil Pérez",
			   "name": "Daniel Antomil Pérez",
			   "url": "https://vigo360.es/autores/daniel-antomil"
			},{
				"@type":"Person",
				"givenName": "Ariel",
				"familyName": "Costas",
				"name": "Ariel Costas",
				"url": "https://vigo360.es/autores/ariel-costas"
			}],
			"distribution":[
			   {
				  "@type":"DataDownload",
				  "encodingFormat":"XML",
				  "contentUrl":"https://fuentes.vigo360.es/static/nogit/dataset.xml"
			   },
			   {
				  "@type":"DataDownload",
				  "encodingFormat":"application/sql",
				  "contentUrl":"https://fuentes.vigo360.es/static/nogit/datos.sql"
			   }
			],
			"spatialCoverage":{
			   "@type":"Place",
			   "address": "Vigo, Pontevedra",
			   "addressCountry": "ES",
			   "geo":{
				  "@type":"GeoShape",
				  "box":"42.165388, -8.813266  42.257158, -8.633637"
			   }
			}
		}	  
	</script>
</head>

<body>
	{{- template "_header.html" }}
	<main>
		<div id="map"></div>
		<div id="parroquias">
			<h2>Por parroquia</h2>
			<ul id="lista-parroquias">
				{{ range $k, $v := .Parroquias }}
				<li>
					<a href="/parroquias/{{ $k }}">{{ $k }} ({{ $v }})</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</main>
	{{- template "_footer.html" }}

	<script type="application/json">
		{{ .Json}}
	</script>
	<script src="/static/mapa.js"></script>
</body>

</html>