<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Fuentes en {{ .Nombre }} | Fuentes Vigo360</title>
	<meta name="description" content="Un listado de todas las fuentes y manantiales que podemos encontrar en la parroquia de {{ .Nombre }}.">

	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Nombre }}" />
	<meta property="og:site_name" content="Las fuentes de Vigo - Vigo360" />
	<meta property="og:url" content="https://fuentes.vigo360.es/parroquias/{{ .Nombre }}" />
	<meta property="og:locale" content="es_ES" />

	<link rel="stylesheet" href="/static/leaflet/leaflet.css">
	<script defer src="/static/leaflet/leaflet.js"></script>

	<link rel="icon" href="/static/logo.png" />
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	{{- template "_header.html" }}
	<main>
		<div id="map"></div>
		<div id="parroquias">
			<h2>{{ .Nombre }}</h2>
			<ul id="lista-parroquias">
				{{ range $k, $v := .Fuentes }}
				<li>
					<a href="/fuentes/{{ $v.Id }}">{{ $v.Titulo }} ({{ $v.Id }})</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</main>
	{{- template "_footer.html" }}

	<script type="application/json">
		{{ .Json}}
	</script>
	<script src="/static/mapa.js"></script>
</body>

</html>