<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Las fuentes de Vigo - Vigo360" />
		<meta property="og:url" content="https://fuentes.vigo360.es/" />
		<meta property="og:locale" content="es_ES" />	

		<title>Fuentes de Vigo</title>

		<slot name="jsonld" />

		<slot name="head_end" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
